<form method="POST" action="http://localhost:3000/files" enctype="multipart/form-data">
    <fieldset>
        <legend>formulaire de test d'envoi d'image</legend><br>
        <label for="file">choisir un fichier:</label>
        <input type="file" name="file">
        <label for="file">description de l'image:</label>
        <input type="text" name="imageDescription">
        <input type="text" name="userId" value="688c8de6b6c9e37f43b01a7c" hidden>
        <input type="submit" value="Envoyer">
    </fieldset>
</form>